<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"  >
  <title> Restaurant</title>
    {% load static %}
	{% static "image" as baseUrl %}
<link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}"/>
<link rel="stylesheet" href="{% static 'css/restaurant.css' %}" type="text/css">
<script src="{% static 'js/jquery.js' %}" type="text/javascript" ></script>
<script src="{% static 'js/all.js' %}" type="text/javascript" ></script>
<script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    $(window).on('load',function(){
        $('#check').modal('show');
    });
</script><script type="text/javascript">
function lettersonly(input) {
   var regex = /[^a-zA-Z\s]/gi;
   input.value=input.value.replace(regex,"");
   }
function usernameonly(input) {
   var regex = /[^@-_-0-9a-zA-Z]/gi;
   input.value=input.value.replace(regex,"");
   }
function numberonly(input) {
   var regex = /[^0-9]/gi;
   input.value=input.value.replace(regex,"");
   }
function menuonly(input) {
   var regex = /[^1-9]/gi;
   input.value=input.value.replace(regex,"");
   }
function date(input) {
   var regex = /[^0-9-/]/gi;
   input.value=input.value.replace(regex,"");
   }
function addr(input) {
   var regex = /[^,-_-a-zA-Z\s]/gi;
   input.value=input.value.replace(regex,"");
   }
</script>
<link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600' rel='stylesheet' type='text/css'>
</head>
<body>
<!--====================================================================== Navigation , slider layout ============================================-->
{% if admin %}

{% else %}
<div id="navstyle" class="container-fluid">
    <div id="main">
        <nav class="navbar navbar-expand-md fixed-top navbar-light" style=" width:100%;background: url({% static 'image/headertop.png' %}) repeat center bottom; background-size: auto 100%; height:90px;">
            <a id="brand"  class="navbar-brand  mx-auto">Aayushmaan<img id="arlogo" src="{{baseUrl}}/{{logor.img}}" class="img-fluid">Restaurant</a>
            <button class="navbar-toggler  hidden-mt-up " type="button" data-toggle="collapse" data-target= "#hide" style="background-color:#1abc9c;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="hide" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item "> <a href="{% url 'home' %}" class="nav-link">Home</a></li>
                    <li class="nav-item"> <a href="{% url 'about' %}" class="nav-link">About us</a></li>
                    <li class="nav-item"> <a href="{% url 'menu' %}" class="nav-link">Menu</a></li>
                    <li class="nav-item"> <a href="{% url 'gallery' %}" class="nav-link">Gallery</a></li>
                    <li class="nav-item"> <a href="{% url 'reservation' %}" class="nav-link">Reservation</a></li><!--list menu item close-->
                    {% if otherpage%}
                    <li class="nav-item dropdown mr-5"><a href="#" class="nav-link dropdown-toggle mr-4" data-toggle="dropdown"> <i class="fas fa-user" style="font-size:30px;color:red;"></i></a>
                        <div class="dropdown-menu" style="background-color:#dce0e8;font-size:12px">
                            <a href="#" class="dropdown-item" style="font-size:10px">{{otherpage}}</a>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'myreserv' %}" class="dropdown-item">Our Reservation</a>
                            <a href="{% url 'userorderlist' %}" class="dropdown-item">Your Cart</a>
                            <a href="{% url 'finalitems' %}" class="dropdown-item">Your Order</a>
                            <a href="#" class="dropdown-item">Security</a>
                            <a href="{% url 'userlogout' %}" class="dropdown-item" style="color:red">Log Out</a>
                        </div>
                    </li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    {% else %}
                    <li  class="nav-item" > <a href="{% url 'page' %}" class="nav-link">Sign Up</a></li>
                    {% endif %}
                </ul><!--second ul close-->
            </div><!--ul list close-->
        </nav>
    </div>
</div>
{% endif %}

{% block content %}
{% endblock %}
<footer id="footer" style="text-align:center" >
{% for awebd in webd %}
<div class="img-fluid" style="width:100%;position:relative; background:url({{baseUrl}}/{{awebd.img1}}) repeat center bottom; background-size: auto 100%;">
<div  class="img-fluid" style="position: relative; width: 100%; background: url({{baseUrl}}/{{awebd.img2}})repeat center bottom; background-size: auto 100%; height: 40px; margin-top: 0px;"></div>
<div class="container-fluid" style="position:relative;">
<div class="row mb-0" style="color:#FFFFFF">
<div class="col-12 col-lg-4 col-md-6 mt-5 ">
<H3 class="ml-4" style="font: normal 32px 'Open Sans', cursive;">Aayushmaan <span style="color:  lightseagreen;">Restaurant</span></H3>
<p class="ml-4">Aayushmaan Community © 2023</p>
</div>
    {% endfor %}

<div  class="col-12 col-lg-4 col-md-6 mt-5">
<h4 style="color:#CCCCCC">Developer: </h4>
<p>Rohit Chaurasia</br>
 +91-8840854918</br>rohiit.chaurasiya@gmail.com</p>


</div><!--column close-->

<div  class="col-12 col-lg-4 col-md-6 mt-5">
<h4 style="color:#CCCCCC">Social Media: </h4>
    <p class="footer">
        <a href="https://github.com/RohitAayushmaan" target="_blank" rel="noopener noreferrer" class='mx-2'>
            <img src="{% static 'image/github.png' %}" alt="GitHub" style="width:32px"/>
        </a>
        <a href="https://www.linkedin.com/in/rohiitchaurasia" target="_blank" rel="noopener noreferrer" class='mx-2'>
            <img src="{% static 'image/linkedin.png' %}" alt="LinkedIn" style="width:35px"/>
        </a>
        <a href="https://www.instagram.com/aayushmaan_rohit/" target="_blank" rel="noopener noreferrer" class='mx-2'>
            <img src="{% static 'image/insta.png' %}" alt="Instagram" style="width:35px"/>
        </a>
    </p>



</div><!--column close-->



<a id="totop" href="#" class="btn btn-light btn-lg back-to-top ml-auto mb-4" role="button"><i class="fas fa-chevron-up"></i></a>
</div><!--row close-->
</div><!--second container close-->
</div>

</footer>
</body>
</html>
