{% extends 'base.html' %}
{% block content %}
{% load static %}
{% static 'image' as baseUrl %}

<!-------------------------------------------####------------------------------------------------------------>
<!--<div class="container-fluid mt-5">-->
<!--    <div id="parent">-->
<!--        <img src="{% static 'image/hps1.jpg' %}" class="img-fluid" width="100%">-->
<!--        <div id="child" class="container" style="margin-top:10%;">-->
<!--            <div class="row justify-content-md-center">-->
<!--                <div id="gallery" class="align-self-center col-md-12 col-lg-12" >-->
<!--                    <h1 style="color:#FFFFFF; font-family: cookie,cursive; font-weight: 700;">{{gallery.name}}</h1>-->
<!--                    <h4 style="font-family: poppins;color:#FFFF00;text-transform: uppercase;">{{gallery.det}}</h4>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--<div class="gallery__header container-fluid img-fluid"-->
<!--     style="position:relative; background:url({% static 'image/gl2.jpg' %}); margin-top:70px;">-->
<!--    <div class="container" style="position:relative;">-->
<!--        <div class="row mt-5 justify-content-center">-->
<!--            <div class="gallery col-12 col-lg-10 mt-5" >-->
<!--                <h1>{{gallery.name}}</h1>-->
<!--                <h2><strong>{{gallery.det}}</strong></h2>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--=========================================================== slider navigation layout close ===========================================-->


<!--============================================================= Gallery open==================================================-->
<div style=" margin-top:100px">
<div class="container gallery__new mt-5" style="margin-top:100px">

  <div class="box">
    <img src="{% static 'image/gallery/1.jpg' %}">
    <span>1</span>
  </div>
  <div class="box">
    <img src="{% static 'image/gallery/2.jpg' %}">
    <span>2</span>
  </div>
  <div class="box">
    <img src="{% static 'image/gallery/3.jpg' %}">
    <span>3</span>
  </div>
  <div class="box">
    <img src="{% static 'image/gallery/food.jpg' %}">
    <span>4</span>
  </div>
</div>



</div><!-- container close -->

{% endblock %}
