{% extends 'base.html' %}
{% block content %}
    {% load static %}
    {% static "image" as baseUrl %}



<div  style="position:relative;margin-top:90px;height:auto;width:auto;" align="center">
    {% if finalorder %}
    <h1 align="center" style="color:#1abc9c; font-size:50px; font-family:Forte;">{{finalorder}}</h1>
    {% else %}
    <h1 align="center" style="color:#1abc9c; font-size:50px; font-family:Forte;">Your Cart List </h1>
    {% endif %}
    {% if cart1 %}
    <div class="row " align="center">
    <div class="col-sm-12">
    <table class="table table-info border">
        <thead>
        <tr class="table-danger">
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">Item Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for oitem in orders %}
            <tr>
            <form action="itemremove" method="post">
                {% csrf_token %}
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td scope="row">{{oitem.item_name}}</td>
            <td>{{oitem.qty}}</td>
            <td>{{oitem.price}}</td>
            <td>&nbsp;</td>
                {% if finalorder %}
                <td>{{oitem.status}}</td>
                {% else %}
                <input name="item_id" type="hidden" value="{{oitem.id}}" class="hidden"  required>
                <td><button class="btn btn-outline-warning " type="submit" style="border-radius:20px; font-weight: 500; font-size:16px;
                color:#ffffff">Item Remove</button></td>
                {% endif %}
            </form>
        </tr>
        {% endfor %}
        {% if totalprice %}
        <tr><td>&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan="2"><h4><b>Total Price</b></h4></td>
            <td colspan="4"><h4><b>&#8360 {{totalprice}}</b></h4></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    </div>
    </div>
</div>

<div align="center">
    {% if finalorder  %}
    <h1 align="center" style="margin-top:70px;color:red; font-size:50px; font-family:Forte;">Thank You </h1>
    {% else %}

<!--    <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Jo5Zlw54ts33MK" async> </script> </form>-->

<button class="btn btn-success " type="button" style=" margin-top:40px;border-radius:10px;font-weight: 700; font-size:25px;">
        <a id="rzp-button1" href="#" style="color:#ffffff;text-decoration: none;">Pay Now</a></button>

<!--    <a id="rzp-button1" class="btn-buy" href="#">Buy Now</a>-->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        var options = {
            "key": "rzp_test_fK6V4JrgIbcHdj",
            "amount": "{{amount}}",
            "currency": "INR",
            "name": "Aayushmaan",
            "description": "Home Delivery Restaurant",
            "image": "{{baseUrl}}/{{logor.img}}",
            "order_id": "{{payment.id}}",
            "callback_url": "{% url 'payment' %}",
            "prefill": {
                "name": "Aayushmaan",
                "email": "rohiit.chaurasiya@example.com",
                "contact": "8840854918"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        document.getElementById('rzp-button1').onclick = function(e){
            rzp1.open();
            e.preventDefault();
        }
    </script>
<!--    </form>-->
    {% endif %}
</div>
{% else %}
<div style="margin-top:0px;" align="center">
<img src="{{baseUrl}}/{{ucart.img}}" class="img-fluid">
    <h1 align="center" style="color:red; font-size:50px;"> Your Cart is Emapty!</h1>
    <h4>Add items to it now.</h4>
    <button class="btn" type="button" style=" margin-top:10px; border-radius:50px; font-weight:600; font-size:30px; background-color:blue;">
        <a href="{% url 'menu' %}" style="color:#ffffff;text-decoration: none;">Order Now</a></button>
</div>
{% endif %}
    {% endblock %}
