{% extends 'base.html' %}
{% block content %}
    {% load static %}
    {% static "image" as baseUrl %}
<div  style="position:relative;margin-top:90px;height:auto;width:auto;" align="center">
    <h1 align="center" style="color:#1abc9c; font-size:60px; font-family:Forte;">Payment</h1>
</div>


<div class="card" align="center" style=" margin-top:60px;" >
      <h1 class="title">Thanks, Your Payment Successfully Complete ☕</h1>
      <small class="muted">If you like my work, you can visit again.</small>
      <h5><a href="http://127.0.0.1:8000/">Again?</a></h5>
</div>

<div align="center">
<button class="btn" type="button" style=" margin-top:60px; border-radius:50px; font-weight:700; font-size:30px; background-color:blue;">
        <a href="{% url 'finalitems' %}" style="color:#ffffff;text-decoration: none;">Go to My Orders</a></button>
</div>
{% endblock %}