{% extends 'base.html' %}
{% block content %}
    {% load static %}
    {% static "image" as baseUrl %}
<div  style="position:relative; margin-top:90px; height:auto; width:auto;" align="center">
    <h1 align="center" style="color:#1abc9c; font-size:60px; font-family:Forte;">Payment</h1>
</div>

<div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 col-md-6" style="padding:0px; border: 0px ">
                <div class="" align="center" style=" margin-top:30px;" >
                    <img src="{% static 'image/pay1.jpg' %}" style="width:15%; border:0px">
                      <h3 class="title"> Your order is confirmed! ☕</h3>
                </div>

                <div align="center">
                <button class="btn" type="button" style=" margin-top:60px; border-radius:15px; font-weight:600; font-size:25px; background-color:#318616;">
                        <a href="{% url 'finalitems' %}" style="color:#ffffff;text-decoration: none;">Check Your Orders</a></button>
                </div>
            </div>
        </div>
</div>

{% endblock %}