@charset "utf-8";
/* CSS Document */


/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 0px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px;
}
.image-content{
  position: relative;
  row-gap: 0px;
  padding: 0px 0px 25px;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 0px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}

.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #ffffff;
  padding: 0px 0px;
  background-color: #ffffff;
  border-radius: 0px;
  margin: 0px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #ffffff;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 25px;
}
.swiper-button-next{
  left: 10px;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 20px;
  }
  .swiper-navBtn{
    display: none;
  }
}


#menulist button {
     margin:20px;
     background-color:#60b246;
     color:#ffffff;
     border-radius:20px;
     font-weight: 600;
     font-size:20px;
}
#menulist a {
    text-decoration: none;
}


#arlogo {
height:70px;

}


@media(max-width:768px) {
	#menulist button{
	margin:5px;
     background-color:#60b246;
     color:#ffffff;
     border-radius:15px;
     font-weight: 500;
     font-size:15px;
     }
}

#gallery h1 {
 font-size:70px;

}

@media(max-width:768px) {
 #gallery h1 {
 font-size:70px;
 margin-left:40px;
}
 #gallery h4 {
 font-size:20px;
 margin-left:20px;
}
}

.navbar .navbar-brand {
	margin-top:-10px;
	margin-bottom:-10px

}


@media(max-width:768px) {
    .navbar .navbar-brand {
	margin-top:5px;
	margin-bottom:-10px

}
    #navstyle nav {
	background-color:#FFFFFF;

        background: #FFFFFF;
    }

    #navstyle .navbar-collapse {
        background: #ffffff;
        padding: 0;
    }

	#navstyle .navbar .navbar-brand {
	font-size:15px;

	}
	#navstyle .navbar{
	height:100px;
	}

	 #arlogo {
     height:50px;
     }
	#navstyle .navbar .navbar-toggler {
	font-size:15px;

	float:right;
	}

	#navstyle .navbar a {
	font-size:15px;
	color:black;
	float:center;
	}

	#navstyle .navbar li a i {
	color:red;
	}
}
.navbar button :hover {
color:red;
}

.section {
    position: relative;
    margin: 60px 0;
    padding: 60px 0;
    background-color: #f9f9f9;
    overflow: hidden;
}

.vertical
{
    height: auto;
    left: 0;
    max-width: none;
    z-index: 2;
}


.about .primary {
    font-family: Raleway,sans-serif;
    font-size: 16px;
    color: #AAA;
    margin-top:10px;
}

.about h3 {
    font-family: cookie,cursive;
    font-weight: 500;
    font-size:30px;
    color:#1abc9c;
}

.about h2 {
    font-size:40px;
    font-family: Segoe UI;
}



#child
{
	position:absolute;
	width:Auto;
	height:auto;

	margin-top:10%;
}


@media(max-width:768px) {
.about .primary {
    font-family: Raleway,sans-serif;
    font-size: 10px;
    color: #AAA;
    margin-top:0px;
    }

    .about h3 {
        font-family: cookie,cursive;
        font-weight: 500;
        font-size:10px;
        color:#1abc9c;
        margin-top:10px;
    }

    .container-fluid .about h2 {
        font-size:30px;
        font-family: Segoe UI;
    }
    .container-fluid .about h3 {
        font-size:40px;
        font-family: Segoe UI;
    }
    .container-fluid .about span {
        font-size:20px;
        font-family: Segoe UI;
    }
    .container-fluid .btn {
        font-size:20px;
        font-family: Segoe UI;
    }

    .container .aboutProcess{
    font-size:30px;
    }

    #menuchild{
        position:absolute;
        width:Auto;
        height:auto;
        left: 3px;
        margin-left:5%;
        margin-top:5%;
    }

    #child
    {
        position:absolute;
        width:Auto;
        height:auto;
        left: 3px;
        margin-left:5%;
        margin-top:40%;
    }
}



.padding
{
padding:60px;
}
#parent
{
position:relative
width:auto;
height:auto;
}

.navbar .navbar-nav li
{
    display: block;
    line-height: 28px;
    color: #444;
    font-weight: 620;
    font-size: 15px;
    letter-spacing: 0px;
    text-transform: uppercase;
}

#brand
{
font-size:27px;
text-align:center;
font-weight: 700;
color:red;
float:none;
margin-top:0px;
margin-bottom:0px;
font-family:font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sliderstyle{
margin-bottom:200px;

}

.menu
{

}

.login__page{
    margin-top:-15px;
}


.gallery__header{
 height:400px;
}

.gallery__header h1{
    margin-top:50px;
}

.container .menu__slider{
    font-size:30px;
}


.index h3 {
    font-family: cookie,cursive;
    font-weight: 500;
    font-size:30px;
    color:#1abc9c;
    margin-top:100px
}

.index h2 {
    font-size:40px;
    font-family: Segoe UI;
}

.index img{
    height:290px;
    margin-top:50px;
}

.index button{
margin-top:20px;
}




.col-height {
      min-height: 100%;
}
.container .hmname{
    color: red;
    font-size:45px;
}

.container .menuheader{
    margin-top:35px;
    color: red;
    font-size:55px;
}

.hmImage{
    height:350px
}

.hmImage .hmname{
    margin-top:-20px
}


.container-fluid .show {
  margin-bottom: 240px;
}

@media (max-width: 991.98px) and (min-width:765.98px) {
    .container-fluid .show {
       margin-bottom: 580px;
    }
 }

  @media (max-width: 765.98px) and (min-width:573.98px) {
    .card{
    width: 16rem;
    }
    .container-fluid .show {
       margin-bottom: 620px;
    }
    .index img{
    height:280px;
    width:100%;
    margin-top:50px;
    }

    .index h2 {
        font-size:30px;
        font-family: Segoe UI;

    }
        .about h3 {
        font-family: cookie,cursive;
        font-weight: 500;
        font-size:20px;
        color:#1abc9c;
        margin-top:-10px;
        align:center;
    }



 }
 @media (max-width: 574.98px) {
      .col-3, .col-9 {
        min-width: 100%;
      }

      .container-fluid .show {
       margin-bottom: 1260px;
    }

    .card{
    width: 20rem;
    }

    .hmImage{
    height:250px
    }

    .index h3 {
    font-family: cookie,cursive;
    font-weight: 500;
    font-size:20px;
    color:#1abc9c;
    margin-top:10px;
    text-align:center;
    }

    .index h2 {
        font-size:20px;
        font-family: Segoe UI;
        text-align:center
    }

    .index img{
    height:150px;
    align:center;
    text-align:center;
    justify-content:center;
    margin-top:25px;
    }

    .index button{
    margin-top:10px;
    padding: 5px 8px;
    }

    .index a{
    font-size:20px;
    }

    .container .menuheaderh1{
      margin-top:-25px;
      font-size:35px;
      }

      .container .menu__slider{
        font-size:20px;
    }

    .gallery__header{
     height:250px;
     text-align:center;
    }
    .gallery__header h1{
    margin-top:0px;
    }

    .about h3 {
        font-family: cookie,cursive;
        font-weight: 500;
        font-size:20px;
        color:#1abc9c;
        margin-top:-10px;
        align:center;
    }
    .hmImage .primary{
        margin-top:-35px;
    }

    .hmImage .hmname{
    margin-top:-30px
    }


 }

  @media (max-width: 460px) {
      .container .hmname{
      font-size:35px;
      }
 }

  @media (max-width: 460px) {
  .container .menuheader{
  margin-top:15px;
  font-size:45px;
  }
  .container .menuheaderh1{
      margin-top:-25px;
      font-size:35px;
      }
 }



.menu .btnn
{
    width: 100%;
    display: inline-block;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    padding: 0px;
    background-color: #00000000;
}

.menu .btnn span
{
position: relative;
    display: block;
    background-size: cover;
    background-position: center center;
    width: auto;
    height: 100%;
}

.secondary {
    font-family: cookie,cursive;
    font-weight: 400;
}

.price
{
    position: absolute;
    top: 280px;
    right: 50px;
    font-size: 48px;
    letter-spacing: -1px;
    font-weight: 500;
    color:red;

}
#menuimgdiv
{
position:relative;
width:auto;
height:auto;
}
#menuimgtext
{
position:absolute;
width:auto;
height:auto;
}

#menuimg
{
height:100%;
width:auto;
}

#childdown
{
position:absolute;
width:1349;
top:610px;
height:auto;
}

#logo{
position:relative
}

.navbar-nav  li{
  margin-left:5px;

}

#btno {
    font-size:15px;
    padding:2px;
}


.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}


@media (max-width: 880px) {

  #footer{
    font: bold 14px sans-serif;
  }

  #footer{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
 }


.container-fluid .gallery h1{

    font-size:40px;
    font-family: cookie,cursive;
    color:#FF0000;
    font-weight:600;


}



.gallery__new {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 80vh;
}

.gallery__new .box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover;
  transition: .5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}


